a {
  text-decoration: none;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text], input[type=password] {
  border: none;
  outline: none;
  background-color: transparent;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

body .stars, body .profile .container .info, body .profile .container, body .profile, body .select, body form, body .cards, body .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.orange {
  color: #FF3D00;
  border: 1px solid #FF3D00;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s;
}
.btn.orange:hover {
  color: #FF3D00;
  border: 1px solid #FF3D00;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s;
  color: #fff;
  background-color: #FF3D00;
  cursor: pointer;
}
.btn.blue {
  color: #0085FF;
  border: 1px solid #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s;
}
.btn.blue:hover {
  color: #0085FF;
  border: 1px solid #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s;
  color: #fff;
  background-color: #0085FF;
  cursor: pointer;
}
.btn.white {
  color: #fff;
  border: 1px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s;
}
.btn.white:hover {
  color: #fff;
  border: 1px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  transition: 0.4s;
  color: #fff;
  background-color: #fff;
  cursor: pointer;
  color: #0085FF;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

section {
  margin-bottom: 80px;
}

body {
  padding: 0 16%;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
}
body header .burger-menu .line {
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-bottom: 3px;
}
body header .burger-menu .line:last-child {
  margin: 0;
}
body header h1 {
  text-transform: uppercase;
  transition: 0.5s;
}
body header h1.active {
  color: #EF5DA8;
}
body header h1:hover {
  color: #FF3D00;
  cursor: pointer;
}
body header nav svg:first-child {
  margin-right: 20px;
}
body header nav svg:hover {
  scale: 1.2;
}
body .main .block {
  width: 48%;
  background-color: #0085FF;
  border-radius: 8px;
}
body .main .block .cover {
  padding-top: 80%;
  width: 100%;
  position: relative;
}
body .main .block .cover img, body .main .block .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .main .block .cover img {
  border-radius: 8px;
}
body .main .block .cover .content h2 {
  margin: 34px 55px;
  color: #fff;
  font-size: 20px;
}
body .cards .card {
  width: 18.1818181818%;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
body .cards .card .cover {
  padding-top: 100%;
  width: 100%;
  position: relative;
}
body .cards .card .cover img, body .cards .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .cards .card .cover img {
  border-radius: 8px 8px 0 0;
}
body .cards .card-content {
  padding: 10px;
}
body .cards .card-content .title {
  font-size: 16px;
}
body .cards .card-content .desc {
  font-size: 12px;
  margin: 14px 0 8px;
}
body .cards .card-content .time {
  font-size: 10px;
  color: #808080;
  margin-bottom: 8px;
}
body form {
  width: 35%;
  margin: 0 auto;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  padding: 15px 20px 34px;
}
body form input[type=text], body form input[type=password], body form .select {
  width: 96%;
  padding: 7px 2%;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 12px;
}
body .select {
  position: relative;
  color: #808080;
}
body .select:hover {
  cursor: pointer;
}
body .select:hover .list {
  display: block;
}
body .select .list {
  display: none;
  position: absolute;
  top: 100%;
  right: 3.5%;
  background-color: whitesmoke;
  padding: 6px;
  width: 50%;
}
body .select .list p {
  color: #000;
  margin-bottom: 4px;
  transition: 0.5s;
  font-weight: 700;
}
body .select .list p:last-child {
  margin-bottom: 0;
}
body .select .list p:hover {
  color: #FF3D00;
  border-bottom: 1px solid #FF3D00;
  cursor: pointer;
}
body h2 {
  margin-bottom: 30px;
}
body .profile {
  align-items: stretch;
  background-color: #0085FF;
  padding: 30px;
  border-radius: 8px;
  color: body .profile #fff;
}
body .profile h3 {
  font-size: 16px;
  color: #fff;
}
body .profile p {
  font-size: 12px;
  color: #fff;
}
body .profile .container {
  width: 48%;
  align-items: stretch;
}
body .profile .container:last-child {
  flex-direction: column;
}
body .profile .container .cover {
  padding-top: 48%;
  width: 100%;
  position: relative;
  width: 48%;
}
body .profile .container .cover img, body .profile .container .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .profile .container .info {
  width: 48%;
  flex-direction: column;
  align-items: flex-start;
}
body .profile .container .info a {
  width: 100%;
}
body .profile .container .info-text .name {
  margin-bottom: 20px;
}
body .profile .container .info-text .name:last-child {
  margin-bottom: 0;
}
body footer {
  background-color: #202020;
  padding: 37px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer h2 {
  color: #fff;
  font-size: 16px;
  margin: 0;
}
body footer p {
  color: #fff;
  font-size: 12px;
}
body .stars .star-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .stars .star {
  width: 9.9090909091%;
  background: #FFFFFF;
}
body .stars .star-content {
  padding: 10px;
}
body .stars .star-content .title {
  font-size: 12px;
  text-align: center;
}
body .stars .star-content .desc {
  font-size: 10px;
  margin: 14px 0 8px;
  text-align: center;
}
body .stars .star-content .time {
  font-size: 10px;
  color: #808080;
  margin-bottom: 8px;
}
body .page .btn {
  margin-bottom: 46px;
}
body a {
  color: #000;
  transition: 0.4s;
}
body a p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  transition: 0.4s;
}
body a:hover {
  color: #0085FF;
}

/*# sourceMappingURL=style.css.map */
